/* general */
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


header {
    background-color: #255ee9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;/*  non capisco eprchè non mi allinea il logo al centro  */
}

ul {
    display: flex;
    list-style: none;
}

.jumbotron {
    
    background-color: aquamarine;
    text-align: center;
}

h1 {
    margin-top: 0;
}

main {
    display: flex;
    flex-direction: column;
} 

section {
    height: 100px;
    border: 1px solid black;
    background-color: chocolate;
    display: flex;
}

section:nth-child(2) .sezione.immagine {
    background-color: rgb(131, 122, 122);
    order: +1;
}

section:nth-child(4) {
    text-align: center;
    flex-direction: column;
   
}

section:nth-child(4) .sezione.immagine {
    order: +1;
   
}

section:nth-child(5) {
    text-align: center;
    flex-direction: column;
   
}


.footer.grande {
    display: flex;
    justify-content: space-around;

    background-color: grey;
}

.footer.piccolo {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
    border-top: 1px solid rgb(232, 88, 210);
}




/* debug */


.sezione.immagine {
    width: 100%;  /* non capisco perchè con width 50% non mi imposta la larghezza pari a metà contenitore/riga */
    border: 2px solid black;
}

.footer.colonna {
    width: 100px;
    height:100px;
    border: 1px solid red;
    background-color: aqua;
}
